@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.circle-icon:hover .icon{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-delay: 100ms;
  transform: scale(1.2);
}

.icon{
  transform: scale(1);
}

